@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap");

* {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.top-part {
  background-image: url("../public/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

.top-nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 2rem 1rem 1rem 5rem;
}

.top-nav-list a {
  text-decoration: none;
  color: white;
}

.top-nav-list a:hover {
  text-decoration: underline solid white 1px;
  font-weight: bold;
}

.side-nav {
  font-size: x-small;
  padding-right: 3rem;
  float: right;
}

.companyName {
  font-size: 1.5rem;
  float: left;
  font-weight: bolder;
}

.hero-text {
  color: white;
  font-weight: 100;
  font-size: 3rem;
  border: 2px solid white;
  max-width: 20rem;
  margin: 4rem 0 0 5rem;
  padding: 1rem 4rem 1rem 2rem;
}

.leader-div {
  position: relative;
  padding: 10rem;
  max-width: 25rem;
  margin: 5rem auto 13rem auto;
}

.leader-information {
  position: absolute;
  background-color: white;
  padding: 2rem;
  max-width: 23rem;
  top: 12rem;
  right: 0;
}

.vrGuyImage {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
}

.leader-header {
  letter-spacing: 0.25rem;
  font-weight: normal;
  font-size: 1.9rem;
  padding-bottom: 2rem;
}

.leader-paragraph {
  color: gray;
  font-size: small;
  line-height: 2em;
}

.creation-top {
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 50%;
  padding-bottom: 2em;
}

.ourCreations {
  font-size: 2rem;
  font-weight: 400;
}

.seeAll {
  border: 1px black solid;
  padding: 1rem;
  font-size: small;
  cursor: pointer;
}

.seeAll:hover {
  font-weight: bold;
  background-color: rgb(150, 65, 230);
  color: white;
}

.seeAll-mobile {
  display: none;
}

.projects-top {
  display: grid;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: repeat(4, 0.3fr);
  column-gap: 1em;
  row-gap: 1em;
  padding-bottom: 3rem;
}

.ImagePara {
  position: absolute;
  color: white;
  bottom: 2rem;
  padding: 0 0 0.5rem 1rem;
  z-index: 2;
}

.ImageDiv {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.coloumnImage:hover {
  opacity: 0.5;
}

.footer {
  background-color: black;
  color: white;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.companyName-footer {
  padding: 1rem;
  padding-left: 2.5rem;
}

.footer-image {
  cursor: pointer;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.side-nav-footer a {
  text-decoration: none;
  color: white;
  padding-right: 1rem;
}

.side-nav-footer a:hover {
  text-decoration: underline solid white 1px;
  font-weight: bold;
}

.side-nav-footer {
  list-style-type: none;
}

.navbar-footer {
  display: flex;
}

.menu-mobile {
  position: absolute;
  background-color: black;
  color: white;
  height: 100vh;
  width: 50vw;
  right: 0;
  z-index: 99;
}

.top-menu-mobile {
  padding: 2.5rem 1.8rem 0 0;
  position: absolute;
  right: 10px;
}

.menu-items-mobile {
  padding-top: 5rem;
  text-decoration: none;
  list-style: none;
}

.menu-list-mobile {
  padding-top: 2.5em;
  font-weight: 100;
}

.burger {
  display: none;
}

.facebook:hover {
  filter: brightness(0) saturate(100%) invert(34%) sepia(10%) saturate(3018%)
    hue-rotate(183deg) brightness(93%) contrast(92%);
}

.twitter:hover {
  filter: brightness(0) saturate(100%) invert(60%) sepia(65%) saturate(6190%)
    hue-rotate(169deg) brightness(107%) contrast(101%);
}

.pinterest:hover {
  filter: brightness(0) saturate(100%) invert(16%) sepia(82%) saturate(7421%)
    hue-rotate(345deg) brightness(87%) contrast(110%);
}

.instagram:hover {
  filter: brightness(0) saturate(100%) invert(27%) sepia(24%) saturate(5706%)
    hue-rotate(294deg) brightness(89%) contrast(95%);
}

@media only screen and (max-width: 750px) {
  .side-nav {
    display: none;
  }

  .top-nav-list {
    padding: 2em;
  }

  .hero-text {
    font-size: 100%;
    max-width: 30%;
    margin: 2em auto;
    padding: 1.5em;
  }

  .top-part {
    height: 400px;
  }

  .navbar-footer {
    display: flex;
    flex-direction: column;
  }

  .burger {
    display: block;
    font-size: 1.5em;
  }

  .leader-div {
    position: static;
    padding: 1em;
    margin: 2em auto 2em auto;
  }

  .leader-information {
    position: static;
    background-color: white;
    padding: 2rem 1rem 0 1rem;
  }

  .vrGuyImage {
    position: static;
  }

  .leader-header {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }

  .leader-paragraph {
    text-align: center;
    line-height: 3em;
  }

  .seeAll {
    display: none;
  }

  .seeAll-mobile {
    display: block;
    border: 1px black solid;
    padding: 1rem;
    font-size: small;
    cursor: pointer;
  }
  .seeAll-mobile:hover {
    font-weight: bold;
    background-color: rgb(150, 65, 230);
    color: white;
  }

  .projects-top {
    width: 100%;
    grid-template-columns: repeat(1, 0.3fr);
  }

  .ImageDiv{
    display: none;
    border: 2px solid pink;
  }
}
